{% if combat %}
<add-to-battle
  name="{{ creatureName or title }}"
  kind="{% if 'character' in tags %}player{% else %}monster{% endif %}"
  ac="{{ combat['КБ'].value }}"
  hp="{{ combat['КЗ'].value }}"
  init-mod="{{ combat['Инициатива'].value }}"
  image="{% if portrait %}{{ page.url | url }}{{ portrait }}{% elif gallery %}{{ page.url | url }}{{ gallery | first }}{% endif %}"
  size="{{ size or 'medium' }}"
  label-added="Добавлено">В бой</add-to-battle>
{% endif %}
