{% if combat %}
<add-to-battle
  name="{{ creatureName or title }}"
  ac="{{ combat['КБ'].value }}"
  hp="{{ combat['КЗ'].value }}"
  url="{{ page.url | url }}">Добавить в бой</add-to-battle>
{% endif %}
