---
layout: base.njk
bodyClass: character-page
breadcrumbSection: Персонажи
breadcrumbSectionUrl: /Characters/
---
<div class="container">
  <div class="sidebar">
    <img class="portrait" src="{{ portrait }}" alt="Портрет">
    {% include "stat-block.njk" %}
  </div>
  <div class="content">
    {{ content | safe }}
  </div>
</div>
