{% if combat %}
{% set combatIcons = { "КБ": "shield", "КЗ": "heart", "Инициатива": "lightning", "Скорость": "valenki" } %}
<div class="combat-block">
  {% for name, item in combat %}
  {% if item.note %}
  <button type="button" class="stat" popovertarget="combat-pop-{{ loop.index }}">
    <img class="stat-icon" src="{{ ('/icons/' + combatIcons[name] + '.svg') | url }}" alt="">
    <span class="stat-name">{{ name }}</span>
    <span class="stat-mod">{{ item.value }}</span>
  </button>
  {% else %}
  <div class="stat">
    <img class="stat-icon" src="{{ ('/icons/' + combatIcons[name] + '.svg') | url }}" alt="">
    <span class="stat-name">{{ name }}</span>
    <span class="stat-mod">{{ item.value }}</span>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% for name, item in combat %}
{% if item.note %}
<div id="combat-pop-{{ loop.index }}" popover class="stat-note">{{ item.note }}</div>
{% endif %}
{% endfor %}
{% endif %}
