---
layout: base.njk
bodyClass: character-page
breadcrumbSection: Личности
breadcrumbSectionUrl: /Personalities/
---
<div class="container">
  <img class="portrait" src="{{ portrait }}" alt="Портрет">
  <div class="content">
    {{ content | safe }}
  </div>
</div>
