---
layout: base.njk
bodyClass: race-page
breadcrumbSection: Раса
breadcrumbSectionUrl: /Races/
---
<div class="container">
  <img class="portrait" src="{{ portrait }}" alt="Портрет">
  <div class="content">
    {{ content | safe }}
  </div>
</div>
